<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue Basics</title>
  <link rel="stylesheet" href="theme.css" />
</head>

<body>
  <div class="container pt-5 card center" id="app">
    <div class="primary" v-html='html'></div>
    <div class="primary" v-text='title'></div>
    <div class="card center">
      <h1 :style="{ 
        color: inputValue.length < 5 ? 'red' : 'blue',
        textTransform:  inputValue.length < 3 ? 'inherit' : 'uppercase'
      }">{{title}}</h1>
      <div class="form-control">
        <input type="text" :value='inputValue' 
        :placeholder="placeholderString" 
        v-model='inputValue'
          @keypress.enter='addNewNotes'>

      </div>
      <button class="btn" @click='addNewNotes'>добавить заметку</button>
      <hr />
      <ul class="list" v-if='notes.length !== 0'>
        <li class="list-item" v-for="(myNote, index) in notes">
          <!-- <span :class="notes.length > 3 ? 'priamry' : 'bold'"> -->
          <!-- <span :class="{
      'priamry': true,
      'bold': notes.length > 5
      }"> -->
          <span :class="['bold']">
            {{toUpperCase(myNote)}} </span>

          <button class=" btn danger" @click='deleteNotise(index)'>удалить</button>
        </li>
        <hr />
        <!-- <li><strong>количество заметок {{notes.length}}
        </strong> |умноженное на два: {{boubliCount()}}</li> -->

        <li><strong>количество заметок {{notes.length}}
            <!--  dobleCountComputed не вызывается он ведет себя как гетер и сетер-->
          </strong> | умноженное на два : {{dobleCountComputed}}</li>
      </ul>
      <!-- <div class="" v-if='notes.length === 0'>заметок нет. добавте первую!</div> -->
      <!-- <div class="" v-else-if>заметок нет. добавте первую!</div> -->
      <div v-else>заметок нет. добавте первую!</div>
    </div>
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="app.js"></script>
</body>

</html>